.escondido{
    display: none;
}

form {
    box-sizing: border-box;
    padding: 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form .input-container{
    margin-bottom: 0.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

form .input-container label{
    margin-bottom: 0.2em;
}

form .input-container input{
    padding-left: 0.5em;

    border: 0;
    border-radius: 12px;

    background-color: cadetblue;

    color: black;
    font-weight: bold;
}

.simulate-btn{
    width: 125px;
    height: 50px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 0;
    border-radius: 24px;

    background-color: cadetblue;
    font-weight: bold;

    transition-duration: 0.3s;

    cursor: pointer;
}

.simulate-btn:hover{
    background-color: black;
    color: cadetblue;
}

canvas{
    border: 1px solid black;
}